<div class="shadow-sm">
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 ">

      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
      </div>
      <div *ngIf="LogIn; else showmenu">
        <ul class="nav col-12 col-md-auto mb-2 lh-sm justify-content-center mb-md-0">
          <li>
            <a href="/products" class="nav-link text-secondary px-2">Products</a>
          </li>
          <li>
            <a href="/manage-user" class="nav-link text-secondary px-2">Users</a>
          </li>
          <li>
            <a href="/user-profile" class="nav-link text-secondary px-2">Profile</a>
          </li>
          <li>
            <a href="/settings/changepassword" class="nav-link text-secondary px-2">Settings</a>
          </li>
         
            <button class="ms-1 pb-1 pt-1 btn btn-danger" (click)="logout()">Logout</button>
          

        </ul>
      </div>
      <ng-template #showmenu>
        <div class="col-md-3 text-end me-5">
          <a href="/login" class="btn btn-outline-primary me-2 ">Login</a>
          <a href="/register" class="btn btn-primary ">Sign-up</a>

        </div>
      </ng-template>
    </header>
  </div>

</div>