<div class="card shadow-sm p-4">
  <div class="card-text">
    <h2 class="fs-3">Login</h2>
  </div>
  <br />
  <div class="card-text">
    <form (ngSubmit)="login()">
      <div class="form-group mb-4">
        <div class="row">
          <div class="col-2">
            <label for="email" class="fs-6">Email</label>
          </div>
          <div class="col">
            <input
              type="email"
              class="form-control form-control-sm"
              id="email"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-2">
            <label for="Password" class="fs-6">Password</label>
          </div>
          <div class="col">
            <input
              type="Password"
              class="form-control form-control-sm"
              id="Password"
              [(ngModel)]="password"
              name="Password"
              required
            />
            <div class="row" *ngIf="validationerr">
              <h6 class="text-danger fw-100 mt-3">
                Please enter valid information!
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-4">
        <button
          class="btn btn-primary btn-sm ps-3 pe-3 pt-1 pb-1 fs-6"
          type="submit"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
