<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 border">
            <div class="row mb-2 image-container">
                <img class="m-1 object-fit-contain zoomable-image" [src]="hoverImage" height="450px"
                    *ngIf="this.oldImages.length>0;else showloading ">
                <div class="p-5 d-flex justify-content-center align-items-center" *ngIf="hoverImage==false">
                    <div class="text-success p-5 ">
                        No Product Images
                    </div>
                </div>
                <ng-template #showloading>
                    <p *ngIf="hoverImage==null">loading...</p>
                </ng-template>
            </div>
            <div class="row mt-2" *ngIf="oldImages.length!=0">

                <span class="text-secondary">Double click on the product image to delete! </span>
                <div id="previewContainer">
                    <img class="img-thumbnail m-1 object-fit-contain" [src]="item"
                        *ngFor="let item of oldImages; let i = index" role="button" style="height: 80px;width: 80px;"
                        (dblclick)="oldimageDoubleClick($event,i)" (mouseenter)="imageMouseEnter($event)"
                        (mouseleave)="removeImageBorder($event)">
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto p-4 border">
            <form (ngSubmit)="onSubmit()" class="" #productForm="ngForm" enctype="multipart/form-data" multiple>
                <app-alert-message [type]="type" [message]="message" *ngIf="message"></app-alert-message>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control " id="name" name="name" [(ngModel)]="product.name" required
                        placeholder="Eg. Nike shoes">
                </div>
                <div class="NgxEditor__Wrapper mt-4 border">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                    </ngx-editor-menu>
                    <ngx-editor [editor]="editor" [(ngModel)]="product.description" [disabled]="false"
                        name="description" [placeholder]="'Description..'">
                    </ngx-editor>
                </div>
                <div class="form-group mt-4">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="product.price"
                        required placeholder="Eg.5999">
                </div>
                <button class="btn btn-link" (click)="lgModal.show()" type="button">Upload Images</button>
                <div class="d-flex mt-4">
                    <div class="me-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    <div>
                        <a routerLink="" class="btn btn-outline-primary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Upload New Images</h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-update-images [productId]="productId" *ngIf="productId"
                    (dataEvent)="handleUploadEvent($event)"></app-update-images>
            </div>
        </div>
    </div>
</div>