<app-header [userCheck]="'seller'"></app-header>
<div class="col-md-5 mt-3 mx-auto">
    <div class="card border-0 p-4">
        <div class="card-text">
            <h4 class="fs-4">Create an User Account</h4>
        </div>
        <hr>
        <div class="card-text">
            <form (ngSubmit)="onSubmit()">
                <div class="alert alert-danger  p-1 text-center" role="alert" *ngIf="myerrors">
                    {{myerrors}}
                </div>
                <div class="form-group mb-4 mb-4">
                    <div class="row">

                        <div class="col">
                            <input type="email" class="form-control " placeholder="Email" id="email" [(ngModel)]="email"
                                name="email" required />
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <div class="row">

                        <div class="col">
                            <input type="Password" class="form-control" placeholder="Password" id="Password"
                                [(ngModel)]="password" name="Password" required />
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <div class="row">

                        <div class="col">
                            <input type="text" class="form-control" placeholder="Fullname" id="fullName"
                                [(ngModel)]="fullName" name="fullName" required />
                        </div>
                    </div>
                </div>

                <div class="form-group mb-4">

                    Role: <dl></dl>
                    <label class="me-2">
                        <input type="radio" name="role" value="user" [(ngModel)]="role">
                        User
                    </label>

                    <label>
                        <input type="radio" name="role" value="admin" [(ngModel)]="role">
                        Admin
                    </label>

                </div>
                <!-- <div class="row" *ngIf="validationerr">
                    <h6 class="text-danger fw-100 mt-3">
                        Please enter valid information!
                    </h6>
                </div> -->
                <div class="form-group mt-4">
                    <button class="btn btn-primary ps-3 pe-3 pt-1 pb-1 fs-6" type="submit">
                        Create user
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>