
<div *ngIf="!success; else showme">
    <div class="container p-5">
        <h1>Email Verification link is expired!</h1>
        <a routerLink="/login" class="btn btn-link">Go to login</a>
    </div>
</div>
<ng-template #showme>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <h2 class="card-title">Email Verification Successful</h2>
                        <p class="card-text">Thank you for verifying your email address. You can now access your account.
                        </p>
                        <a routerLink="/user-profile" class="btn btn-primary">Go to profile</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</ng-template>

