<h5>Manage Addresses</h5>
<app-alert-message [message]="message" [type]="type" *ngIf="message"></app-alert-message>
<div class="d-grid my-3" *ngIf="!isFormEnabled || !isUpdateFormEnabled">
    <button class="card px-4 py-3 text-capitalize fs-7  text-primary" type="button" (click)="addNewAddressForm()"> + Add
        new
        address</button>
</div>
<form action="" class="card card-secondary p-3" #addNewAddress="ngForm" *ngIf="isFormEnabled "
    (ngSubmit)="addNewAddressSubmit()">

    <h6 class="text-capitalize card-header">Add new address</h6>

    <div class="my-3">
        <label for="street" class="form-label">Street</label>
        <textarea type="text" class="form-control" id="street" name="street" placeholder="Enter your street"
            [(ngModel)]="address.street" required></textarea>

        <label for="addressLine2" class="form-label mt-2">Address Line 2</label>
        <textarea type="text" class="form-control" id="addressLine2" name="addressLine2"
            placeholder="Enter address line 2" [(ngModel)]="address.addressLine2" required></textarea>

        <div class="row mt-2">
            <div class="col">
                <label for="city" class="form-label ">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city"
                    [(ngModel)]="address.city" required>

            </div>

            <div class="col">
                <label for="state" class="form-label ">State</label>
                <select class="form-select" aria-label="Default select example" name="state"
                    [(ngModel)]="address.state">
                    <option selected>Open this select menu</option>
                    <option value="{{i.name}}" *ngFor="let i of states">{{i.code}} : {{i.name}}</option>
                </select>
            </div>
        </div>

        <label for="pin" class="form-label mt-2">PIN</label>
        <input type="text" class="form-control" id="pin" name="pin" placeholder="Enter your PIN"
            [(ngModel)]="address.pin" required>
    </div>
    <div class="d-flex">
        <button type="submit" class="btn btn-primary me-2">Add address</button>
        <button type="button" class="btn btn-outline-primary" (click)="closeNewAddressForm()">Cancel</button>
    </div>
</form>

<form action="" class="card card-secondary p-3" #Address="ngForm" *ngIf="isUpdateFormEnabled && !isFormEnabled"
    (ngSubmit)="UpdateAddressSubmit()">

    <h6 class="text-capitalize card-header">Update address</h6>

    <div class="my-3">
        <label for="street" class="form-label">Street</label>
        <textarea type="text" class="form-control" id="street" name="street" placeholder="Enter your street"
            [(ngModel)]="address.street" required></textarea>

        <label for="addressLine2" class="form-label mt-2">Address Line 2</label>
        <textarea type="text" class="form-control" id="addressLine2" name="addressLine2"
            placeholder="Enter address line 2" [(ngModel)]="address.addressLine2" required></textarea>

        <div class="row mt-2">
            <div class="col">
                <label for="city" class="form-label ">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter your city"
                    [(ngModel)]="address.city" required>

            </div>

            <div class="col">
                <label for="state" class="form-label ">State</label>
                <select class="form-select" aria-label="Default select example" name="state"
                    [(ngModel)]="address.state">
                    <option selected>Open this select menu</option>
                    <option value="{{i.name}}" *ngFor="let i of states">{{i.code}} : {{i.name}}</option>
                </select>
            </div>
        </div>

        <label for="pin" class="form-label mt-2">PIN</label>
        <input type="text" class="form-control" id="pin" name="pin" placeholder="Enter your PIN"
            [(ngModel)]="address.pin" required>
    </div>
    <div class="d-flex">
        <button type="submit" class="btn btn-primary me-2">Update address</button>
        <button type="button" class="btn btn-outline-primary" (click)="closeUpdateAddressForm()">Cancel</button>
    </div>
</form>
<div class="card justify-content-between p-3 mt-2" *ngFor="let Ad of savedAddress" style="flex-direction: row;">

    <div class="">
        {{Ad.street}}, {{Ad.addressLine2}}, {{Ad.city}}, {{Ad.state}}, {{Ad.pin}}
    </div>
    <div role="button" class="float-end dropdown">
        <i class="bi bi-three-dots-vertical" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false"></i>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="editOnAddress(Ad,Ad._id)">Edit</a></li>
            <li><a class="dropdown-item" (click)="deleteOnAddress(Ad._id)">Delete</a></li>
        </ul>
    </div>
</div>