<app-header [userCheck]="'seller'">

</app-header>
<div class="container mt-5">
    <table class="table table-borderless table-hover custom-table">
        <thead>
            <tr class="border">
                <th>#Id</th>
                <th>Address</th>
                <th>Total Amount</th>
                <th>Payment Status</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through each order -->
            <ng-container
                *ngFor="let order of orders?.results | paginate : { itemsPerPage: selectedLimit,currentPage: pagination,totalItems: totalResults }; let i = index;">
                <tr *ngIf="i === 0 || i > 0 && order._id !== orders.results[i - 1]._id" class="border custom-tr">
                    <td [width]="100" class="text-primary" role="button" routerLink="{{order._id}}">

                        {{ order._id }}
                    </td>
                    <td [width]="300"><span class="text-dark">
                            {{order.address.street}} {{order.address.addressLine2}} {{order.address.city}}
                            {{order.address.state}} {{order.address.pin}}
                        </span></td>
                    <td>{{ order.total | currency:'INR' }}</td>
                    <td><span class="text-warning">{{ order.paymentStatus }}</span></td>
                    <td><span class="text-secondary">{{ order.status }}</span></td>
                    <td class="">
                        <div role="button" class="dropdown" *ngIf="order.status!=='Cancelled'">
                            <i class="bi bi-three-dots-vertical" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" (click)="cancelOrder(order._id,'cancel')">Cancel</a></li>
                                <li><a class="dropdown-item" routerLink="{{order._id}}">View Details</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-5">
        <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
    </div>
</div>
