<div class="container p-4">
    <form action="" class="col-7 fs-6" (ngSubmit)="changepassword()">
        <div *ngIf="message">
            <app-alert-message [message]="message" [type]="type" *ngIf="message"></app-alert-message>
        </div>
        <h4>Change Account Password</h4>
        
        <div class="mb-3 mt-3   ">
            <input type="password" class="form-control " placeholder="Old password" name="oldpassword" id="oldpassword"
                [(ngModel)]="oldpassword">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="New password" name="newpassword" id="newpassword"
                [(ngModel)]="newpassword">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Confirm password" name="confirmpassword"
                id="confirmpassword" [(ngModel)]="confirmpassword">
        </div>
        <button class="btn btn-primary px-4 py-1">Change password</button>
    </form>
</div>