<div class="container p-4">
    <form action="" class="col-7 fs-6" (ngSubmit)="changepassword()">
        <div *ngIf="!hide">
            <app-alert-message [message]="message" [type]="type" *ngIf="message"></app-alert-message>
        </div>
        <div class="mb-3">
            <label for="oldpassword" class="text-uppercase text-secondary">Old password</label>
            <input type="password" class="form-control form-control-sm mt-2" name="oldpassword" id="oldpassword"  [(ngModel)]="oldpassword">         
        </div>
        <div class="mb-3">
            <label for="newpassword" class="text-uppercase text-secondary">new password</label>
            <input type="password" class="form-control form-control-sm mt-2" name="newpassword" id="newpassword" [(ngModel)]="newpassword">         
        </div>
        <div class="mb-3">
            <label for="confirmpassword" class="text-uppercase text-secondary">confirm new password</label>
            <input type="password" class="form-control form-control-sm mt-2" name="confirmpassword" id="confirmpassword" [(ngModel)]="confirmpassword">         
        </div>
        <button class="btn btn-primary px-4 py-1">Change password</button>
    </form>
</div>