.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .zoomable-image {
    transition: transform 0.2s; /* Add a smooth transition effect */
  }
  
  .image-container:hover .zoomable-image {
    transform: scale(1.1); /* Adjust the scale factor for the desired zoom level */
  }