body {
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-content {
    padding: 20px;
}

.form-label {
    color: #007bff;
}

.btn-login {
    background-color: #007bff;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0056b3;
}