
  <app-header [userCheck]="'seller'"></app-header>
  <div class="container pt-4">

    <div class="d-flex justify-content-between">
      <h5>User List</h5>
      <div>
        <a class="btn btn-primary pt-1 pb-1 mt-1" routerLink="/create-user">Create User</a>
      </div>
    </div>

    <div class="mt-4 row">
      <table>
          <thead>
              <tr>
                  <th scope="col" class="col-md-1">No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Company Name</th>
                  <th scope="col">Role</th>
                  <th scope="col">Actions</th>
              </tr>
          </thead>
          <tbody>
            <div *ngIf="!users; else loadingTemplate" class="d-flex justify-content-center align-items-center">
              <img src="assets/loading.gif" alt="" />
            </div>
            <ng-template #loadingTemplate>
              <tr *ngFor="let user of users[0]?.results; let i=index" class="my-row">
                <td data-label="No">{{i+1}}</td>
                <td data-label="Name">{{ user.name }}</td>
                <td data-label="Email">{{ user.email }}</td>
                <td data-label="Company name">{{ user._org.name }}</td>
                <td data-label="Role">{{ user.role }}</td>  
                <td data-label="Actions">
                  <button class="btn btn-primary btn-sm me-3" (click)="updateUser(user._id)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteUser($event,user._id)">Delete</button>
                </td>
              </tr>
            </ng-template>
          </tbody>
      </table>

  </div>
   
  </div>
