<div class="card border-0">
    <div class="card-title">Change Password</div>
    <div class="card-body col-md-7">
        <form (ngSubmit)="resetPassword()">
            <app-alert-message [message]="message" [type]="type" *ngIf="message"></app-alert-message>
            <div class="mb-2">
               
                <input type="password" class="form-control" [(ngModel)]="oldPassword" id="oldPassword"
                    name="oldPassword" placeholder="Old Password" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="newPassword"
                    [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="confirmPassword"
                    [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm  Password" required>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Reset Password</button>
        </form>
    </div>
</div>