.table {
    border-radius: 10px; /* Apply border-radius to the table */
}

.table th,
.table td {
    padding: 10px; /* Add padding to table cells */
}

.order-summary div{
    margin-bottom: 10px;  
}
