<div class="container">
  <app-header></app-header>
  <div class="container">

    <div class="d-flex justify-content-between">
      <h2>User List</h2>
      <div>
        <a class="btn btn-primary btn-sm mt-1" href="/create-user">Create User</a>
      </div>
    </div>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Company Name</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>


      <tbody>
        <div *ngIf="!users; else loadingTemplate" class="d-flex justify-content-center align-items-center">
          <img src="assets/loading.gif" alt="" />
        </div>
        <ng-template #loadingTemplate>
          <tr *ngFor="let user of users[0]?.results" class="my-row">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user._org.name }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button class="btn btn-primary btn-sm me-3" (click)="updateUser(user._id)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="deleteUser($event,user._id)">Delete</button>
            </td>
          </tr>
        </ng-template>

      </tbody>
    </table>
  </div>

</div>