<app-header></app-header>

<div class="card shadow-sm p-5">
  <div *ngIf="!user; else loadingTemplate">
    <img src="assets/loading.gif" alt="" />
  </div>
  <ng-template #loadingTemplate>
    <div class="row justify-content-center mb-4">
      <div class="col-auto">
        <h1>Profile Information</h1>
      </div>
    </div>
    <hr />
    <p>Name: {{ user?.name }}</p>
    <p>Email: {{ user?.email }}</p>
    <p>Role: {{ user?.role }}</p>
    <p>Is Email Verified: {{ user?.isEmailVerified }}</p>
    <p>Company Name: {{ user?._org.name }}</p>
  </ng-template>
  <!-- <div *ngIf="checkLogin">
    <h4 class="text-danger text-center">
      Please log in to view your profile.
    </h4>
  </div> -->
</div>
