<div *ngIf="!user; else loadingTemplate" class="d-flex justify-content-center align-items-center">
  <img src="assets/loading.gif" alt="" />
</div>


<ng-template #loadingTemplate>
  <app-header></app-header>
  <div class="card shadow-sm p-4 m-2">

    <div class="row justify-content-center mb-2">
      <div class="col-auto">
        <h1>Profile Information</h1>
      </div>
      <div class="">
        <hr class="w-25 ms-auto me-auto">
      </div>
    </div>

    <!-- <p>Name: {{ user?.name }}</p> -->
    <p>Email: {{ user?.email }}</p>
    <p>Role: {{ user?.role }}</p>
    <!-- <p>Email Verified: {{ user?.isEmailVerified }}</p> -->
    <p>Company Name: {{ user?._org.name }}</p>
    <div class="col">
      <button class="btn btn-link btn-sm" (click)="toggleClass()">Update Profile form</button>
    </div>
    <div [ngClass]="{'active':isActive}" class="mt-2">

      <div class="col-7 ">
        <div class="card shadow-sm p-4 border-0">
          <div class="card-text">
            <h5 class=" text-secondary">Update Name</h5>
          </div>
          <br />
          <div class="card-text">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <div class="alert alert-danger  p-1 text-center" role="alert" *ngIf="myerror">
                  {{myerror}}
                </div>
                <div class="row">
                  <div class="col-3">
                    <label for="email" class="fs-6">Email</label>
                  </div>
                  <div class="col">
                    <!-- <input type="email" class="form-control form-control-sm" id="email" [(ngModel)]="user.email"
                      name="email" required /> -->
                    <span class="fs-6">
                      {{
                      user.email
                      }}
                    </span>


                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-3">
                    <label for="companyName" class="fs-6">Company Name</label>
                  </div>
                  <div class="col">
                    <input type="text" class="form-control form-control-sm" id="companyName"
                      [(ngModel)]="user._org.name" name="companyName" required />
                  </div>
                </div>
              </div>

           
              <div class="form-group mt-4">
                <button class="btn btn-primary btn-sm fs-6" type="submit" (click)="onSubmit()">
                  Update
                </button>
                <button class="btn btn-link btn-sm ms-2 fs-6" type="submit" (click)="toggleClass()">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="checkLogin">
  <h4 class="text-danger text-center">
    Please log in to view your profile.
  </h4>
</div>